/* * Mise en page * */

/*Polices monospaces, aucune marge*/
body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}


/* * Navigation * */

/*Conteneur flex, polices sans-serif pour les éléments du header,
space-between pour avoir un élément à gauche et l'autre à droite,
centrage vertical des éléments flex*/
header {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
    align-items: center;
}

/*Logo (lien vers la page d'accueil) : élément flex,
suppression des marges inutiles, suppression du souligné*/
#logo {
    font-size: larger;
    font-weight: bold;
    color: #567bca;
    margin: 0px;
    text-decoration: none;
}

/*Elément flex, prend tout l'espace restant dans le header*/
nav {
    flex-grow: 1;
}

/*Conteneur flex, éléments s'affichent à partir de la droite,
suppression des marges et des paddings inutiles*/
header ul {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}

/*Eléments flex, pas de points sur la liste*/
header li {
    list-style-type: none;
}

/*Liens du menu : suppression du souligné, couleur blanche*/
header a {
    text-decoration: none;
    color: white;
}
header a:hover {
    color: #567bca;
}