/* 
! ----------------------------------------------------------------------------
!                                 Navigation 
! ----------------------------------------------------------------------------
*/
/* TODO Elargir la zone cliquable des liens pour faciliter la navigation 
TODO Le lien de la page active doit rester coloré ou être surligné
TODO Changer la font-style pour un meilleur rendu */

/*Conteneur flex, 
polices sans-serif pour les éléments du header,
space-between pour avoir un élément à gauche et l'autre à droite,
centrage vertical des éléments flex,
hauteur = 8% de la hauteur d'affichage*/
header {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

/*Logo (lien vers la page d'accueil) : élément flex,
suppression des marges inutiles, marge à gauche = 5% de la largeur,
suppression du souligné*/
#logo {
    font-size: larger;
    font-weight: bold;
    color: #567bca;
    margin: 0px;
    margin-left: 5vw;
    text-decoration: none;
}

/*Elément flex, prend tout l'espace restant dans le header (flex-grow),
espacement de 5% de la largeur de l'affichage à gauche et à droite*/
nav {
    flex-grow: 1;
    padding-right: 5vw;
    padding-left: 5vw;
}

/*Conteneur flex, éléments s'affichent à partir de la droite,
espacement entre les éléments de 5% de la largeur de l'affichage,
suppression des marges et des paddings inutiles*/
header ul {
    display: flex;
    justify-content: flex-end;
    gap: 5vw;
    margin: 0px;
    padding: 0px;
}

/*Eléments flex, pas de points sur la liste*/
header li {
    list-style-type: none;
}

/*Liens du menu : suppression du souligné, couleur blanche*/
header li a {
    text-decoration: none;
    color: white;
    height: 8vh;
}
header li a:hover {
    color: #567bca;
}