/* 
! ----------------------------------------------------------------------------
!                             Page index.html 
! ----------------------------------------------------------------------------
*/

/*Conteneur flex, espacement de 5% de la largeur de la fenêtre,
contenu touche les côtés gauche et droit et prend la place restante,
marge top pour l'espacer de la div précédente*/
#divExploration {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    justify-content: space-around;
    margin-top: 8vh;
}

/*Eléments flex, tout est centré, couleur de fond bleu, coins arrondis, 
padding, taille uniforme*/
.divExplorer {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: #567bca;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    
    flex: 1 1 150px; /*Largeur de 150px, ajustable*/
    min-height: 80px; /*Pas de réduction en-dessous de cette hauteur*/
    max-width: 200px; /*Limite la taille si l'espace est grand*/
    box-sizing: border-box;
    
}

.divExplorer a {
    text-decoration: none;
    color: white;
}


/* 
! ----------------------------------------------------------------------------
!                           Page projets.html 
! ----------------------------------------------------------------------------
*/
/* TODO Adapter les projets aux petits écrans
TODO Les espaces entre les éléments devraient rester les mêmes*/

/*Rassemblement des projets :
conteneur flex, retour à la ligne, gap de 5% de l'affichage en hauteur et en largeur,
*/
#projets {
    display: flex;
    flex-wrap: wrap;
    gap: 5vh 5vw;
    justify-content: space-around;
}

/*Cadre pour la présentation d'un projet :
conteneur flex, disposition en colonnes, espace entre les éléments,
couleur bleue transparente à 50%, padding, coins arrondis,
gestion de l'affichage en fonction de la taille de la fenêtre*/
.projet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(86, 123, 202, 0.5); /*Le rgba permet de ne pas transmettre la transparence aux enfants de la div (contrairement à l'attribut opacity)*/
    padding: 30px;
    border-radius: 10px;

    /*Gestion de la largeur :*/
    flex: 1 1 300px; /*Largeur flexible : chaque div prend au moins 300px et peut s'agrandir*/
    max-width: 60%; /*Limite la largeur des éléments*/ /* ! Il faudrait changer cette valeur pour les petits écrans */
    
    /*Gestion de la hauteur :*/
    max-height: fit-content; /* Limite la hauteur */ /* ! A voir si c'est la meilleure manière de faire --> j'ai changé, c'était 400px, mais du coup le contenu n'était pas entièrement affiché, là c'est mieux*/

    /*Autres paramètres d'affichage :*/
    box-sizing: border-box; /*Inclut le padding dans la largeur totale*/
    text-overflow: ellipsis; /* ! Utile pour tronquer les textes longs (à voir si ça sert avec les résumés) */
}

/* ! Changement pour les h3 des projets : couleur de fond, padding, texte centré...*/
.projet h3 {
    background-color: #567bca;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
}

.projet h3 a {
    padding: 5px;
}

.projet h3 a:hover {
    border-radius: 10px;
    background-color: black;
}

.resume {
    margin-bottom: 0px;
}


/* 
! ----------------------------------------------------------------------------
!                                Pages projets 
! ----------------------------------------------------------------------------
*/

/*Gérer le positionnement du corps et du bloc compétences dans les
pages projet, espacement de 10% de la largeur entre les div*/
.page-projet {
    display: flex;
    gap: 10%;
}

/* TODO La hauteur de l'aside doit se limiter à son contenu, sinon c'est pas beau */
.aside-competences {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #567bca;

    padding: 30px;
    border-radius: 10px;

    /* ! A voir si je garde la suite, c'est du copier-coller des projets pour l'instant*/

    /*Gestion de la largeur :*/
    /* flex: 1 1 300px;*/ /*Largeur flexible : chaque div prend au moins 300px et peut s'agrandir*/
    max-width: 60%; /*Limite la largeur des éléments*/ /* ! Il faudrait changer cette valeur pour les petits écrans */
    
    /*Gestion de la hauteur :*/
    max-height: fit-content; /* Limite la hauteur */ /* ! A voir si c'est la meilleure manière de faire --> j'ai changé, c'était 400px, mais du coup le contenu n'était pas entièrement affiché, là c'est mieux*/

    /*Autres paramètres d'affichage :*/
    box-sizing: border-box; /*Inclut le padding dans la largeur totale*/
    text-overflow: ellipsis; /* ! Utile pour tronquer les textes longs (à voir si ça sert avec les résumés) */

}


/* 
! ----------------------------------------------------------------------------
!                      Page experiences-et-formations.html 
! ----------------------------------------------------------------------------
*/

/*Affichage de la bordure gauche du tableau*/
table{
    border-left: 2px solid #567bca;
    border-spacing: 0 20px;
}

/*Le contenu des cellules se place en haut des cellules*/
td {
    vertical-align: top;
}

/*Cellules date : affichage de la date en bleu, en gras, padding de 10px 
(sauf à droite, 20px), largeur minimale*/
.date {
    color: #567bca;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/*Redéfinition du style des h2 pour la page*/
.exp {
    color: white;
}

/*Suppression des marges inutiles dans les <p> des cellules*/
td p {
    margin-top: 0px;
}


/* 
! ----------------------------------------------------------------------------
!                           Page competences.html 
! ----------------------------------------------------------------------------
*/

/*Rassemblement des projets :
conteneur flex, retour à la ligne, gap de 5% de l'affichage en hauteur et en largeur,
*/
#competences {
    display: flex;
    flex-wrap: wrap;
    gap: 5vh 5vw;
    justify-content: space-around;
}

/*Affichage d'une competence*/
.competence {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*Gestion de la largeur :*/
    flex: 1 1 400px; /*Largeur flexible : chaque div prend au moins 300px et peut s'agrandir*/
    
    /*Gestion de la hauteur :*/
    max-height: 400px; /* Limite la hauteur */

    /*Autres paramètres d'affichage :*/
    box-sizing: border-box; /*Inclut le padding dans la largeur totale*/
    overflow: hidden; /* Cache les débordement horizontales, plus propre en cas de problème*/
}