/* 
! ----------------------------------------------------------------------------
!                            Mise en page globale 
! ----------------------------------------------------------------------------
*/

/*Fond noir, aucune marge, texte blanc par défaut, polices monospaces,
taille du texte assez grande pour une bonne lisibilité*/
body {
    background-color: black;
    margin: 0px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size:large;
    line-height: 1.5;
}

/*Marges top et down = 8% de la hauteur d'affichage,
marges left et right = 8% de la largeur d'affichage*/
main {
    margin: 8vh 8vw;
}

/*Un texte mis en gras est aussi coloré en bleu*/
b {
    color: #567bca;
    background-color: rgba(255, 255, 255, 0.867);
    padding-left: 4px;
    padding-right: 4px;
}

/*Couleur bleue, suppression de la marge supérieure (déjà gérée avec le main)*/
h1 {
    color: #567bca;
    margin-top: 0px;
}

/*Ajout d'une marge top similaire à celle du main sur les h1 (sauf le premier)*/
h1:not(:first-child) {
    margin-top: 8vh;
}

/*Couleur bleue, suppression des marges inutiles*/
h2 {
    color: #567bca;
    margin: 0px;
}

/*Suppression de la marge supérieur (déjà gérée dans les div)*/
h3 {
    margin: 0px;
}

/*Nom d'un lieu (pour les expériences, les formations, les projets :
en italique*/
.lieu {
    font-style: italic;
}

/*Un titre à gauche, une image à droite, marge top de 5% de la hauteur*/
.titre-image {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

/*Taille des images dans les titre-image*/
.titre-image img {
    width: 30px;
    height: fit-content;
}


/* 
! ----------------------------------------------------------------------------
!                                 Navigation 
! ----------------------------------------------------------------------------
*/
/* TODO Elargir la zone cliquable des liens pour faciliter la navigation 
TODO Le lien de la page active doit rester coloré ou être surligné
TODO Changer la font-style pour un meilleur rendu */

/*Conteneur flex, 
polices sans-serif pour les éléments du header,
space-between pour avoir un élément à gauche et l'autre à droite,
centrage vertical des éléments flex,
hauteur = 8% de la hauteur d'affichage*/
header {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

/*Logo (lien vers la page d'accueil) : élément flex,
suppression des marges inutiles, marge à gauche = 5% de la largeur,
suppression du souligné*/
#logo {
    font-size: larger;
    font-weight: bold;
    color: #567bca;
    margin: 0px;
    margin-left: 5vw;
    text-decoration: none;
}

/*Elément flex, prend tout l'espace restant dans le header (flex-grow),
espacement de 5% de la largeur de l'affichage à gauche et à droite*/
nav {
    flex-grow: 1;
    padding-right: 5vw;
    padding-left: 5vw;
}

/*Conteneur flex, éléments s'affichent à partir de la droite,
espacement entre les éléments de 5% de la largeur de l'affichage,
suppression des marges et des paddings inutiles*/
header ul {
    display: flex;
    justify-content: flex-end;
    gap: 5vw;
    margin: 0px;
    padding: 0px;
}

/*Eléments flex, pas de points sur la liste*/
header li {
    list-style-type: none;
}

/*Liens du menu : suppression du souligné, couleur blanche*/
header li a {
    text-decoration: none;
    color: white;
    height: 8vh;
}
header li a:hover {
    color: #567bca;
}


/* 
! ----------------------------------------------------------------------------
!               Bulles pour la signification des abbréviations 
! ----------------------------------------------------------------------------
*/

/*Style global d'un élément span .abbreviations :
position relative pour pouvoir utiliser la position absolue,
souris prend une forme de pointeur, texte souligné*/
.abbreviations {
    position: relative;
    cursor: pointer;
    text-decoration: underline dotted;
}

/*Style de la bulle :*/
.abbreviations::before {

     /*Récupère le texte enregistré dans l'attribut data-tooltip*/
    content: attr(data-tooltip);

    /*Position de la bulle : au-dessus du texte et centrée*/
    position: absolute;
    bottom: 100%; /*Au-dessus de l'abbréviation*/
    left: 50%; /*Place le coin gauche de la bulle à 50% de la largeur de son parent*/
    transform: translateX(-50%); /*Déplace l'élément vers la gauche de 50% de sa propre largeur*/

    /*Style de la bulle : fond noir, bordure blanche,
    coins arrondis, pas de retour à la ligne*/
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 0.875rem; /*Police plus petite que le reste du texte*/
    
    /*Paramètres d'affichage :*/
    opacity: 0;
    transition: opacity 0.3s ease; /*Rend l'affichage pluis fluide*/
    visibility: hidden; /*La bulle est invisible tant qu'elle n'est pas survolée*/
    z-index: 10; /*Ordre d'affichage des éléments : l'élément avec le plus haut z-index s'affiche par-dessus les autres*/
}

/*Affichage de la bulle au survol :*/
.abbreviations:hover::before {
    opacity: 1;
    visibility: visible;
}