/* 
! ----------------------------------------------------------------------------
!                            Mise en page globale 
! ----------------------------------------------------------------------------
*/

/* TODO Réfléchir à la police : mettre la stylée uniquement sur les titres et le menu, rester sur une normale autre part car plus lisible */

/*Fond noir, aucune marge, texte blanc par défaut, polices monospaces,
taille du texte assez grande pour une bonne lisibilité*/
body {
    background-color: black;
    margin: 0px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size:large;
    line-height: 1.5;
}

/*Conteneur flex, tous les éléments sont en colonnes et centrés
(cela permet notamment aux images d'être bien placées dans les projets),
marges top et down = 8% de la hauteur d'affichage,
marges left et right = 8% de la largeur d'affichage*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8vh 8vw;
}

/*Un texte mis en gras est aussi coloré en bleu*/
b {
    color: #567bca;
    background-color: rgba(255, 255, 255, 0.867);
    padding-left: 4px;
    padding-right: 4px;
}

/*<p> mais bleu*/
.p-bleu {
    color: #567bca;
}

/*Les liens s'affichent par défaut en blanc souligné,*/
a {
    color: white;
}
a:hover {
    color: #567bca;
    text-decoration: none;
}

/*Couleur bleue, suppression de la marge supérieure (déjà gérée avec le main)*/
h1 {
    color: #567bca;
    margin-top: 0px;
}

/*Couleur bleue, suppression des marges inutiles*/
h2 {
    color: #567bca;
    margin: 0px;
}

/*Suppression de la marge supérieur (déjà gérée dans les div)*/
h3 {
    margin: 0px;
}

/*Affichage en bloc pour que le lien prenne tout l'espace disponible dans le h3
(donc plus grande zone cliquable), suppression du souligné, couleur blanche*/
h3 a {
    display: block;
    text-decoration: none;
    color: white;
}

/*Affichage des liens servant à revenir aux pages précédentes :*/
.fil-arianne {
    text-decoration: none;
    font-size: smaller;
    color: white;
}

/*Les images (notamment celles placées dans le main, pour les projets)
font 70% de la largeur du main*/
img {
    max-width: 70%;
}

/*Marge top de 50px*/
.legende-image {
    margin-top: 50px;
    font-weight: bold;
    background-color: #567bca;
    padding: 2px 10px;
}

/*Un titre à gauche, une image à droite*/
/* ! marge top de 5% de la hauteur --> retirée car pas pratique sur les expériences --> ajouter un gap pour le à propos*/
/*Format HTML : 
<div class="titre-image">
    <h.></h.>
    <img src="" alt="">
</div>
*/
.titre-image {
    display: flex;
    justify-content: space-between;
}

/*Taille des images dans les titre-image, padding de 50px pour éviter qu'elles soient coller au texte*/
.titre-image img {
    width: 30px;
    height: fit-content;
    padding-left: 50px;
}

/*Nom d'un lieu (pour les expériences, les formations, les projets :
en italique*/
/* ! Tests de couleurs, à commenter : plus petit*/
.lieu {
    font-style: italic;
    font-size: smaller;
}

/*Mise en forme du bouton pour afficher une pièce jointe :
margin top et bottom pour laisser de l'espace autour, suppression du padding inutile
(géré par l'élément a en display block), largeur s'adapte au contenu, fond blanc, 
coins arrondis, bordure bleue*/
.piece-jointe {
    margin-bottom: 18px;
    margin-top: 5px;
    padding: 0px;
    width: fit-content;
    background-color: white;
    border-radius: 15px;
    border: solid #567bca 1px;
}
/*Le lien dans le bouton prend toute la place disponible et agrandit l'objet avec son
padding, coins arrondis, souligné avec des petits points, police en gras, couleur bleue*/
.piece-jointe a {
    display: block;
    padding: 7px 15px;
    border-radius: 15px;
    text-decoration: underline dotted;
    font-weight: bold;
    color: #567bca;
}
/*Quand il est survolé, le lien devient blanc sur fond bleu*/
.piece-jointe a:hover {
    color: white;
    background-color: #567bca;
}

/*Ajout d'une marge top similaire à celle du main sur les h1 (sauf le premier)*/
.add-margin {
    margin-top: 8vh;    
}


/* 
! ----------------------------------------------------------------------------
!                                 Navigation 
! ----------------------------------------------------------------------------
*/
/* TODO Elargir la zone cliquable des liens pour faciliter la navigation 
TODO Le lien de la page active doit rester coloré ou être surligné
TODO Changer la font-style pour un meilleur rendu */

/*Conteneur flex, 
polices sans-serif pour les éléments du header,
space-between pour avoir un élément à gauche et l'autre à droite,
centrage vertical des éléments flex,
hauteur = 8% de la hauteur d'affichage*/
header {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

/*Logo (lien vers la page d'accueil) : élément flex,
suppression des marges inutiles, marge à gauche = 5% de la largeur,
suppression du souligné*/
#logo {
    font-size: larger;
    font-weight: bold;
    color: #567bca;
    margin: 0px;
    margin-left: 5vw;
    text-decoration: none;
}

/*Elément flex, prend tout l'espace restant dans le header (flex-grow),
espacement de 5% de la largeur de l'affichage à gauche et à droite*/
nav {
    flex-grow: 1;
    padding-right: 5vw;
    padding-left: 5vw;
}

/*Conteneur flex, éléments s'affichent à partir de la droite,
espacement entre les éléments de 5% de la largeur de l'affichage,
suppression des marges et des paddings inutiles*/
header ul {
    display: flex;
    justify-content: flex-end;
    gap: 5vw;
    margin: 0px;
    padding: 0px;
}

/*Eléments flex, pas de points sur la liste*/
header li {
    list-style-type: none;
}

/*Liens du menu : suppression du souligné, couleur blanche*/
header li a {
    text-decoration: none;
    color: white;
    height: 8vh;
}
header li a:hover {
    color: #567bca;
}


/* 
! ----------------------------------------------------------------------------
!               Bulles pour la signification des abbréviations 
! ----------------------------------------------------------------------------
*/

/*Style global d'un élément span .abreviations :
position relative pour pouvoir utiliser la position absolue,
souris prend une forme de pointeur, texte souligné*/
.abreviations {
    position: relative;
    cursor: help;
    text-decoration: underline dotted;
}

/*Style de la bulle :*/
.abreviations::before {

     /*Récupère le texte enregistré dans l'attribut data-tooltip*/
    content: attr(data-tooltip);

    /*Position de la bulle : au-dessus du texte et centrée*/
    position: absolute;
    bottom: 100%; /*Au-dessus de l'abbréviation*/
    left: 50%; /*Place le coin gauche de la bulle à 50% de la largeur de son parent*/
    transform: translateX(-50%); /*Déplace l'élément vers la gauche de 50% de sa propre largeur*/

    /*Style de la bulle : fond noir, bordure blanche,
    coins arrondis, pas de retour à la ligne*/
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 0.875rem; /*Police plus petite que le reste du texte*/
    
    /*Paramètres d'affichage :*/
    opacity: 0;
    transition: opacity 0.3s ease; /*Rend l'affichage pluis fluide*/
    visibility: hidden; /*La bulle est invisible tant qu'elle n'est pas survolée*/
    z-index: 10; /*Ordre d'affichage des éléments : l'élément avec le plus haut z-index s'affiche par-dessus les autres*/
}

/*Affichage de la bulle au survol :*/
.abreviations:hover::before {
    opacity: 1;
    visibility: visible;
}


/* 
! ----------------------------------------------------------------------------
!             Sélection automatique de la couleur d'un outil 
! ----------------------------------------------------------------------------
*/

/*Regroupement des outils utilisés pendant un projet :
conteneur flex, retour à la ligne, espacement de 10px entre chaque outil*/
.outils {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}


/*Affichage d'un outil : suppression des marges top et bottom des paragraphes,
ajout du padding de 5px top et bottom, padding de 10px sur les côtés,
coins très arrondis*/
/* ! Pas encore commenté : couleur du texte = noire, texte en gras*/
.outils p {
    margin: 0px;
    padding: 5px 10px;
    border-radius: 25px;
    color: #000000;
    font-weight: bold;
}

/*Définition d'une couleur de fond pour chaque outil :*/
.outil-bash { background-color: #3bb249; }
.outil-cpp { background-color: #004482; }
.outil-css { background-color: #29a5d1; }
.outil-debian { background-color: #a80030; }
.outil-git { background-color: #f05030; }
.outil-google-tests {background-color: #0f9d58;}
.outil-html { background-color: #ff7816; }
.outil-java { background-color: #e84135; }
.outil-js { background-color: #ffdf00; }
.outil-linux { background-color: #000000; }
.outil-maquette { background-color: #ffb6c1; }
.outil-php { background-color: #777bb3; }
.outil-postgresql { background-color: #306192; }
.outil-r { background-color: #4e9bb9; }
.outil-sql { background-color: #aac7c8; }
.outil-uml { background-color: #452e7f; }
.outil-wordpress { background-color: #3053e8; }

/* Parce que c'était amusant à tester :
.outil-google-tests { background: linear-gradient(0.25turn, #cf2d48, #fbbd00, #0f9d58, #3c79e6); }
*/

